<footer class="footer">

		<h5>
			Let's Connect xD
		</h5>
		<p>Get in touch to know more( or just wave Hi)</p>
	
	<div class="social-icons">
		<a href="">   <i class="fa-brands fa-github"></i> </a>
		<a href="">   <i class="fa-brands fa-instagram"></i>  </a>
		<a href="">   <i class="fa-brands fa-tumblr"></i> </a>
		<a href="">  <i class="fa-brands fa-linkedin"></i> </a>
	</div>
</footer>