
<h1>Arduino Projects</h1>
<div class="arduino__projects">
	<div class="arduino_project arduino_project_one">
		<h3>LED Traffic Light</h3>
    <video width="200" height="200" controls muted>
      <source src="/img/traffic-light.mp4" type="video/mp4">
 
    Your browser does not support the video tag.
    </video>
	</div>
	<div class="arduino_project arduino_project two">
		<h3>LED Blinker</h3>
		<img
			src="/img/y.png"
			alt="" />
	</div>
	<div class="arduino_project arduino_project three">
		<h3>LED Blinker</h3>
		<img
			src="/img/y.png"
			alt="" />
	</div>

	<div class="arduino_project arduino_project four">
		<h3>LED Blinker</h3>
		<img
			src="/img/y.png"
			alt="" />
	</div>
</div>
