<h1 style="margin-bottom: 25px">Coding Projects</h1>

<div class="coding__projects">
	<div
		class="coding_project coding_project_one"
		id="coding_project_one">
		<h3>Flutter Note App</h3>
		<img
			src="/img/a.jpg"
			alt=""
			class="image" />
	</div>
	<div class="coding_project coding_project two">
		<h3>Expense Tracker</h3>
		<img
			src="/img/y.png"
			alt="" />
	</div>
	<div class="coding_project coding_project three">
		<h3>TicTac Toe</h3>
		<img
			src="/img/y.png"
			alt="" />
	</div>

	<div class="coding_project coding_project four">
		<h3>LED Blinker</h3>
		<img
			src="/img/y.png"
			alt="" />
	</div>
</div>
