<h1><%= locals.title %></h1>

<div class="container">
	<div class="description">
		<img
			src="/img/a.jpg"
			alt=""
			class="flutter-note-app-image" />
		<p class="description-text">
			A simple app that takes notes. Created using basic Flutter
			<a href=""> Source code in my GitHub repository</a>
		</p>
	</div>
</div>
