<div class="contact-text">
  <h1>Get In Touch</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim harum quaerat ab eos. Voluptas repellat officia dolor dolorum animi qui, sequi esse officiis quia! Inventore porro doloribus, dolore ratione blanditiis iste non sed nobis reprehenderit error sapiente deserunt fugiat qui, labore corrupti consectetur culpa quam! Assumenda natus magni minima quas?</p>
</div>

<div class="contact-container">
  
  <div class="contact-information">
    <h3>Contact Information</h3>

    <div class="contact-icons-container">
     <div class="contact-icon"><i class="fa-solid fa-phone"></i> +4748907275 </div>
     <div class="contact-icon"><i class="fa-solid fa-envelope"></i> gharteysamanthas@gmail.com </div>
     <div class="contact-icon"><i class="fa-solid fa-location-dot"></i> Hagan, Norway </div>

    </div>


  </div>

  <div class="send-email">


  </div>
</div>
