
	<body>
		

			<div class="description">
				<h1>Hi, It's Samantha!</h1>
				<p>
					I love elctronics, coding and drawing lorem ipsum dolor annet Lorem
					ipsum dolor sit, amet consectetur adipisicing elit. Tempore eos
					dignissimos ducimus atque sequi ipsa debitis neque laborum id
					veritatis voluptates dolorem quo adipisci dolorum nulla, voluptas cum
					quos deserunt.
				</p>
			</div>

			<div class="portfolio">
				<div class="arduino" id="arduino">
					<img
						class="image"
						src="/img/y.png"
						alt=""
						class="arduino__image" />
					<div class="arduino__text">
						<h2>Arduino</h2>
						<p>My Arduino projects</p>
					</div>
				</div>
				<div class="coding" id="coding">
					<img
						class="image"
						src="/img/y.png"
						alt=""
						class="arduino__image" />
					<div class="coding_text">
						<h2>Coding</h2>
						<p>My Coding projects</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
