:root {
	--background-color: #1c1c1c;
	--button-color: #fff;
	--font-size-base: 1rem;
	--font-size-small: 0.9rem;
	--font-size-normal: clamp(14px 1rem, 18px);
	--btn-border-radius: 10px;
	--border-radius: 10px;
	--text-color: #94581e;
	--logo-color: #71461c;
	--secondary-color: #ffebc2;
	--deep-brown: #71461c;
	--light-text-color: #703800;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins";
	color: var(--background-color);

	color: var(--light-text-color);
}

.header__nav {
	display: flex;
	justify-content: flex-end;
}

.header__nav ul {
	list-style: none;
	display: flex;
}

.header__nav ul a {
	color: var(--text-color);
	text-decoration: none;
	padding: 10px;
}

.header__logo {
	font-weight: bold;
	font-size: 20px;

	text-wrap: nowrap;
	text-decoration: none;
	color: var(--logo-color);
}
.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	max-width: 70%;
	margin-inline: auto;
	padding-top: 10px;

	display: flex;
/* 	justify-content: center;
	align-items: center; */
	flex-direction: column;
}

main {
	text-align: center;
	margin-top: 20px;
	display: flex;
	/* justify-content: center;
	align-items: center; */
	flex-direction: column;
/* 	max-width: 100%;
 */}

.hero-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.portfolio {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.arduino,
.coding {
	background-color: var(--secondary-color);
	display: flex;
	padding: 20px 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	cursor: pointer;
	gap: 50px;
}

.arduino h2,
.coding h2 {
	position: relative;
}
.arduino h2::after,
.coding h2::after {
	content: "";
	width: 30%;
	height: 4px;
	background-color: var(--deep-brown);
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: var(--border-radius);
}

.arduino img,
.coding img {
	width: 60%;
}

.arduino__projects img,
.arduino__projects video,
.coding__projects img {
	max-width: 50%;
	border-radius: 5px;
}

.arduino__projects,
.coding__projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

.arduino_project,
.coding_project {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	padding: 8px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--secondary-color);

	padding: 10px;
	border-radius: var(--border-radius);
}
.footer {
	margin: 4rem;
	text-align: center;
}

.footer p {
	font-size: x-small;
}

.social-icons {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.social-icons a {
	text-decoration: none;
	color: var(--text-color);
}

.flutter-note-app-image {
	width: 40%;
}

.description {
	width: 90%;
	display: flex;
	margin: 0 auto;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.description-text {
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-color);
}

.contact-container {
	margin: 4rem 0;
	display: flex;
	border-radius: var(--border-radius);
}
.contact-information {
	min-height: 500px;
	display: flex;

	flex-direction: column;
	align-items: start;

	padding: 20px;
	border-radius: var(--border-radius);
	gap: 2rem;
	background-color: var(--secondary-color);
}

.contact-icons-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 3rem;
}

.contact-icon {
	flex-wrap: nowrap;
	color: var(--text-color);
}

.send-email {
	border-radius: var(--border-radius);
	flex-grow: 1;
	background-color: blueviolet;
}
