<div class="footer">
	<h4>Let's Connect</h4>
	<p>Say Hi. Don't be shy xD</p>

	<div class="social-icons">
		<a href="www.instagram.com"><i class="fa-brands fa-linkedin"></i></a>
		<a href="www.instagram.com"> <i class="fa-brands fa-github"></i> </a>
		<a href="www.instagram.com"> <i class="fa-brands fa-tumblr"></i> </a>

		<a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
	</div>
</div>
