
  <header class="header">
    <a
      href="/"
      class="header__logo"
      >Sam G</a
    >
    <nav class="header__nav">
      <ul>
        <li>
          <a
            href="/"
            class=""
            >Home</a
          >
        </li>
        <li>
          <a
            href="/arduino"
            class=""
            >Arduino</a
          >
        </li>
        <li>
          <a
            href="/coding"
            class=""
            >Coding</a
          >
        </li>
        <li>
          <a
            href="/"
            class=""
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </header>
